<body>
    <h1>
<p>Make your own quiz!</p>
</h1>
<label for="qname">Quiz Name:</label>
<input type="text" id="qname" name="qname"><br><br>

<label for="q1">First Question:</label>
<input type="text" id="q1" name="q1">

<label for="q1res">Leads to:</label>
<input type="text" id="q1res" name="q1res"><br><br>

<label for="q2">Second Question:</label>
<input type="text" id="q2" name="q2">

<label for="q2res">Leads to:</label>
<input type="text" id="q2res" name="q2res"><br><br>

<label for="q3">Third Question:</label>
<input type="text" id="q3" name="q3">

<label for="q3res">Leads to:</label>
<input type="text" id="q3res" name="q3res"><br><br>

<label for="q4">Fourth Question:</label>
<input type="text" id="q4" name="q4">

<label for="q4res">Leads to:</label>
<input type="text" id="q4res" name="q4res"><br><br>

<label for="q5">Fifth Question:</label>
<input type="text" id="q5" name="q5">

<label for="q5res">Leads to:</label>
<input type="text" id="q5res" name="q5res"><br><br>

("Leads to" can be the next question or the result)

<button>submit</button>
</body>
